@page "{id:int}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h4>The following group will be deleted:</h4>
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Day)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Day)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.EndTime)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Group.GroupId"/>
        <input type="submit" value="Delete" class="btn btn-custom-danger"/>
        <a asp-page="./Details" asp-route-id="@Model.Group.GroupId" class="btn btn-custom-cancel">Cancel</a>
    </form>
</div>
<div>
    <a asp-page="./Index" class="btn btn-custom">Back to list</a>
</div>