@page "{id:int}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Day)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Day)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Students)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupData.Students.ElementAt(0).FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupData.Students.ElementAt(0).PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupData.Students.ElementAt(0).EmailAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupData.Students.ElementAt(0).Enrollments.ElementAt(0).StartDate)
                    </th>
                </tr>
                @foreach (var item in Model.Group.Students)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Enrollments.ElementAt(0).StartDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div class="button-container">
    <div class="left-buttons">
        <a asp-page="./Edit" asp-route-id="@Model.Group?.GroupId" class="btn btn-custom">Edit</a>
        <a asp-page="./Index" class="btn btn-cancel">Back</a>
    </div>
    <div class="right-buttons">
        <a asp-page="./Delete" asp-route-id="@Model.Group?.GroupId" class="btn btn-danger">Delete</a>
    </div>
</div>
