@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@{
    ViewData["Title"] = "Classes";
}

<h1>Groups</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Group[0].Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group[0].Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group[0].Level)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GroupData.Groups)
    {
        var selectedRow = "";
        if (item.GroupId == Model.GroupId)
        {
            selectedRow = "table-success";
        }

        <tr class="@selectedRow">
            <td>
                <a asp-page="./Details" asp-route-id="@item.GroupId">@Html.DisplayFor(modelItem => item.Day)</a>
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.GroupId">@Html.DisplayFor(modelItem => item.Time)</a>
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.GroupId">@Html.DisplayFor(modelItem => item.Level)</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.GroupData.Students != null)
{
    <h3>Students</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupData.Students.ElementAt(0).FullName)
            </th>
        </tr>
        @foreach (var item in Model.GroupData.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
            </tr>
        }

    </table>
}
