@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@{
    ViewData["Title"] = "Classes";
}

<h1>Groups</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Group[0].Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group[0].Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group[0].Level)
        </th>
        <th class="text-end"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GroupData.Groups)
    {
        <tr class="clickable-row group-row" data-id="@item.GroupId">
            <td>@Html.DisplayFor(modelItem => item.Day)</td>
            <td>@Html.DisplayFor(modelItem => item.Time)</td>
            <td>@Html.DisplayFor(modelItem => item.Level)</td>
            <td class="text-end">
                <a asp-page="./Details" asp-route-id="@item.GroupId" class="details-link" title="Details">&#128196;</a>
                <a asp-page="./Edit" asp-route-id="@item.GroupId" class="edit-link" title="Edit">&#9998;</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div id="students-container">
    <p>Select a group to view its students.</p>
</div>