@page "{id:int}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Motivation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Motivation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Groups)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupData.Groups.ElementAt(0).Day)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupData.Groups.ElementAt(0).Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupData.Groups.ElementAt(0).Level)
                    </th>
                </tr>
                @foreach (var item in Model.Student.Groups)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Day)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Enrollments)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Enrollments.ElementAt(0).EnrollmentType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enrollments.ElementAt(0).StartDate)
                    </th>
                </tr>
                @foreach (var item in Model.Student.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnrollmentType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                    </tr>
                }
            </table>
            <div>
                <a asp-page="/Enrollments/Create" asp-route-id="@Model.Student?.StudentId" class="btn btn-custom">Add
                    enrollment</a>
            </div>
        </dd>
    </dl>
</div>

<div class="button-container">
    <div class="left-buttons">
        <a asp-page="./Edit" asp-route-id="@Model.Student?.StudentId" class="btn btn-custom">Edit</a>
        <a asp-page="./Index" class="btn btn-custom-cancel">Back</a>
    </div>
    <div class="right-buttons">
        <a asp-page="./Delete" asp-route-id="@Model.Student?.StudentId" class="btn btn-custom-danger">Delete</a>
    </div>
</div>
