@page "{id:int}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enrollment</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enrollment.Student.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.Student.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enrollment.EnrollmentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.EnrollmentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enrollment.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enrollment.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.EndDate)
        </dd>
    </dl>
</div>
<div class="button-container">
    <div class="left-buttons">
        <a asp-page="./Edit" asp-route-id="@Model.Enrollment.EnrollmentId" class="btn btn-custom">Edit</a>
        <a asp-page="./Index" class="btn btn-custom-cancel">Back</a>
    </div>
    <div class="right-buttons">
        <a asp-page="./Delete" asp-route-id="@Model.Enrollment.EnrollmentId" class="btn btn-custom-danger">Delete</a>
    </div>
</div>